.VerifyProfilePage-user-profile-container {
    background-color: #fff; /* White background for the form */
    padding: 30px; /* Increased padding for equal spacing */
    border-radius: 15px; /* Larger border radius for a more rounded look */
    width: 400px;
    margin: 50px auto;
    box-shadow: 
        0 0 10px rgba(255, 223, 150, 0.8), /* Inner glow */
        0 0 20px rgba(255, 223, 150, 0.6), /* Outer glow */
        0 0 30px rgba(255, 223, 150, 0.4); /* Larger, softer glow */
}

.VerifyProfilePage-body {
    background-color: #000; /* Black background behind the form */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 2%;
    margin-bottom: 2%;
}

.VerifyProfilePage-user-profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000; /* Black color for the header */
}

.VerifyProfilePage-form-group {
    margin-bottom: 20px; /* Increased margin for better spacing */
}

.VerifyProfilePage-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000; /* Black color for the labels */
}

.VerifyProfilePage-form-group input{
    width: 94%;
    padding: 12px; /* Increased padding for both inputs and select */
    border: 1px solid #ccc;
    border-radius: 8px; /* More rounded corners */
    background-color: #eee; /* Light background for both input fields and select */
    color: #333;
    outline: none;
    font-size: 14px;
}

.VerifyProfilePage-form-group select {
    width: 100%;
    padding: 12px; /* Increased padding for both inputs and select */
    border: 1px solid #ccc;
    border-radius: 8px; /* More rounded corners */
    background-color: #eee; /* Light background for both input fields and select */
    color: #333;
    outline: none;
    font-size: 14px;
}


.VerifyProfilePage-form-group input::placeholder {
    color: #bbb;
}

.VerifyProfilePage-Verify-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #99723c 10%, #fae570 40%, #000000 140%); /* Gold and black gradient button */
    color: white;
    border: none;
    border-radius: 8px; /* Rounded corners for the button */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.VerifyProfilePage-button:hover {
    background-color: #e0c65b; /* Slightly darker shade for hover effect */
}
