.privacy-container {
    background-color: #000; /* Black background */
    color: #fff ; /* White text */
    padding: 60px; /* Add padding to the container */
  }

  .privacy-heading,
  .privacy-subheading,
  .privacy-disclaimer,
  .privacy-muted {
    text-align: center; /* Center text */
  }
  
  .privacy-text {
    text-align: center; /* Center text */
    margin: 10px 0; /* Add some margin for spacing */
  }
  
  .privacy-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
    text-align: center; /* Center list items */
  }
  
  .privacy-list-item {
    margin: 5px 0; /* Add some margin for spacing */
  }
  
  @media (max-width: 768px) {
    .privacy-text {
      font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
  }
  