.BidHistory-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8%;
  margin-bottom: 3%;
}

.ordercolor {
  color: #fff;
}

/* Fixed size for the image on larger screens */
.fixed-image {
  width: 250px;
  height: 250px;
  object-fit: cover; /* Ensures image fits within the set size */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .fixed-image {
    width: 100px; /* Smaller width for mobile screens */
    height: 100px; /* Smaller height for mobile screens */
  }
}

/*   
  .BidHistory-heading {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .BidHistory-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .BidHistory-card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .BidHistory-card-body {
    padding: 1rem;
  }
  
  .BidHistory-card-title {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .BidHistory-card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .BidHistory-btn-outline-primary {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .BidHistory-btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .BidHistory-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
} */